<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{>headerlinks}}
    <title>About</title>
  </head>
  <body>
    {{>navbar}}
    <div id="content-about-me">
      <div id="about-me">
        <img id="about-me-pic" src="./aboutme.jpg" alt="About Me" />
      </div>
      <div id="content">
        <h1>About Me:</h1>
        <p>
          My name is Abdul Wahab Raza. I am student of Bahria University
          Islamabad Campus. I am on the way to become web developer and Machine
          learning or Computer vision enginner. I am currenty studying in 6th
          semester with 3+ cgpa.
        </p>
      </div>
      <div id="person">
        <img src="./hello.jpg" alt="Person" />
      </div>
    </div>
    <footer id="footer2">
      <center>
        <p>created by ❤ Raza</p>
      </center>
      <!--Window+. to open emoji picker-->
    </footer>
  </body>
</html>
