<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{>headerlinks}}
    <title>Weather App</title>
  </head>
  <body>
    {{>navbar}}
    <div class="container-fluid">
      <div class="row">
        <div class="row">
          <div class="col-md-6 col-12 main_header_left">
            <p>Hello, Wellcome!</p>
            <h1>The latest <span>Weather</span> app for you city.</h1>
            <a href="/weather"><button>Check here</button></a>
          </div>
          <div class="col-md-6 col-12 main_header_right">
            <div
              id="carouselExampleFade"
              class="carousel slide carousel-fade"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="./sad.jpg" class="d-block w-100" alt="Weather" />
                </div>
                <div class="carousel-item">
                  <img
                    src="./weather2.jpg"
                    class="d-block w-100"
                    alt="Weather"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="./weather3.jpg"
                    class="d-block w-100"
                    alt="Weather"
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleFade"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleFade"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="footer1">
      <center>
        <p>created by ❤ Raza</p>
      </center>
      <!--Window+. to open emoji picker-->
    </footer>
  </body>
</html>
