<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{>headerlinks}}
    <title>Weather</title>
  </head>
  <body>
    {{>navbar}}
    <div id="getInput">
      <div class="input">
        <b>Enter the latitude of your City:&nbsp;&nbsp; </b>
        <input id="text2" type="text" placeholder="latitude" />
      </div>
      <div class="input">
        <b>Enter&nbsp;&nbsp;&nbsp;longitude&nbsp; of&nbsp; your&nbsp; City:&nbsp;&nbsp; </b>
        <input id="text3" type="text" placeholder="longitude" />
      </div>

      <div id="temp">
        <button>Check Temprature</button>
      </div>
      <div class="temp-text input">
        <b>Your&nbsp; City&nbsp; Name&nbsp; is:&nbsp; </b>
        <input id="text4" type="text" placeholder="City Name" />
      </div>
      <div class="temp-text input">
        <b>City&nbsp; Temprature is:</b>
        <input id="text5" type="text" placeholder="Temprature" />
      </div>
    </div>
    <footer id="footer3">
      <center>
        <p>created by ❤ Raza</p>
      </center>
      <!--Window+. to open emoji picker-->
    </footer>
    <script src="js/main.js"></script>
  </body>
</html>
